{{^wasEmptyBefore}}
Poprzednia lista życzeń:

{{#oldWishes}}
- {{text}}{{#url}} ({{url}}){{/url}}
{{/oldWishes}}
{{/wasEmptyBefore}}

Nowa lista życzeń:

{{#newWishes}}
- {{text}}{{#url}} ({{url}}){{/url}}
{{/newWishes}}