body {
    padding-top: 5rem;
    /*background: #9dd3d5;*/
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

/*button + button {*/
    /*margin-left: 10px;*/
/*}*/

input[readonly] {
    cursor: not-allowed;
}

.other-buttons {
    padding: 0 .75rem;
}

.admin-actions {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.admin-actions form {
    margin-top: 5px;
}

.admin-actions button {
    margin-left: auto;
    margin-right: auto;
    max-width: 200px;
}

#recipient-info div {
    padding: 10px;
    margin-bottom: 5px;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin #inputLogin {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-register {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-register input {
    border-radius: 0;
}

.form-register input[name=username] {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.form-register input[name=surname] {
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    margin-bottom: 10px;
}

.rank {
    font-weight: bold;
    font-size: 0.75rem;
    width: 120px;
    height: 38px;
}

.rank-first {
    color: #fff;
    background-color: #FFD700;
    border-color: #FFD700;
}

.rank-second {
    color: #fff;
    background-color: #A8A8A8;
    border-color: #A8A8A8;
}

.rank-third {
    color: #fff;
    background-color: #965A38;
    border-color: #965A38;
}

.rank-select {
    display: none;
}

.rank-select button {
    margin-top: 10px;
}

.selected-elem {
    cursor: pointer;
}