<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="header"></div>
<body>
<div th:replace="nav"></div>
<div class="container">

    <!--/*@thymesVar id="isAdmin" type="java.lang.Boolean"*/-->
    <!--/*@thymesVar id="canPerformLottery" type="java.lang.Boolean"*/-->
    <!--/*@thymesVar id="users" type="lesziy.carol.web.ui.dashboard.LotteryForm"*/-->
    <div th:class="admin-actions">
        <form th:action="@{/dashboard/lottery}" th:method="POST" th:object="${users}">


            <div th:class="|row justify-content-center mb-3|">
                <div th:class="|form-check form-check-inline|" th:each="name, idx : *{usersForLottery}">
                    <label class="form-check-label">
                        <input th:field="*{usersForLottery[__${idx.index}__].id}" th:hidden="true"/>
                        <input class="form-check-input" th:field="*{usersForLottery[__${idx.index}__].consideredInLottery}"
                               th:text="*{usersForLottery[__${idx.index}__].formattedName}"
                               type="checkbox"/>
                    </label>
                </div>
            </div>

            <button class="btn btn-primary btn-xs btn-block"
                    th:classappend="${!canPerformLottery}? 'disabled'"
                    th:disabled="${!canPerformLottery}"
                    th:type="Submit">
                Start the lottery
            </button>
        </form>

        <form th:action="@{/dashboard/resetLottery}" th:method="POST">
            <button class="btn btn-danger btn-xs btn-block"
                    th:classappend="${canPerformLottery}? 'disabled'"
                    th:disabled="${canPerformLottery}"
                    th:type="Submit">
                Reset lottery
            </button>
        </form>
    </div>

</div>
<div th:replace="js"></div>
</body>
</html>
