<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="header"></div>
<body>
<div th:replace="nav"></div>
<div class="container">

    <div class="starter-template">
        <form th:action="@{/login/password/change}" method="POST" class="form-signin">
            <label for="inputPassword" class="sr-only" th:text="#{label.login.userDto.password}"></label>
            <input id="inputPassword" class="form-control" placeholder="Hasło"
                   required="" th:name="'password'" type="password"/>
            <label for="inputRepeatPassword" class="sr-only" th:text="#{label.login.userDto.password}"></label>
            <input id="inputRepeatPassword" class="form-control" placeholder="Powtórz hasło"
                   required="" th:name="'repeatedPassword'" type="password"/>
            <button class="btn btn-lg btn-primary btn-block" type="submit"
                    th:text="'Resetuj hasło'">
            </button>
        </form>
    </div>

</div>
<div th:replace="js"></div>
</body>
</html>