<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="header"></div>
<body>
<div th:replace="nav"></div>
<div class="container">

    <div th:if="${!isAdmin}">
        <!--/*@thymesVar id="myWishes" type="java.util.Collection<lesziy.carol.web.ui.dashboard.WishesForm>"*/-->
        <form action="#" th:action="@{/dashboard/editWishes}" th:object="${myWishes}" th:method="post">
            <table class="table">
                <thead>
                <th>Moje prezenty</th>
                </thead>
                <tr>
                    <td>
                        <input type="text" th:field="*{name}" />
                    </td>
                </tr>
            </table>
            <input type="submit" th:value="Zapisz"/>
        </form>

        <!--/*@thymesVar id="hasRecipient" type="java.lang.Boolean"*/-->
        <!--/*@thymesVar id="recipientWithWishes" type="lesziy.carol.domain.lottery.DtoWishGiver"*/-->
        <table class="table" th:if="${hasRecipient}">
            <thead>
            <th>Życzenia wylosowanej osoby
                ( <span th:text="${recipientWithWishes.recipientLogin()}"></span> )
            </th>
            </thead>
            <tr th:each="myWish : ${recipientWithWishes.recipientWishes()}">
                <td th:text="${myWish.getText()}"></td>
            </tr>
        </table>
    </div>

    <!--/*@thymesVar id="isAdmin" type="java.lang.Boolean"*/-->
    <!--/*@thymesVar id="canPerformLottery" type="java.lang.Boolean"*/-->
    <div th:if="${isAdmin}">
        <form th:action="@{/dashboard/lottery}" th:method="POST">
            <button class="btn btn-primary"
                    th:classappend="${!canPerformLottery}? 'disabled'"
                    th:type="Submit"
                    th:disabled="${!canPerformLottery}">
                Start the lottery
            </button>
        </form>
    </div>

</div>
<div th:replace="js"></div>
</body>
</html>