<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="header"></div>
<body>
<div th:replace="nav"></div>
<div class="container">


    <!--/*@thymesVar id="lotteryPerformed" type="java.lang.Boolean"*/-->
    <div th:classappend="text-white" th:id="recipient-info">
        <div th:class="bg-success" th:if="${lotteryPerformed and recipientWithWishes != null}">
            W tym roku prezent ode mnie otrzyma
            <span th:text="${recipientWithWishes.recipient()}"></span>
        </div>
        <div th:class="bg-warning" th:if="${!lotteryPerformed and recipientWithWishes == null}">
            W tym roku losowanie jeszcze się nie odbyło
        </div>
        <div th:class="bg-danger" th:if="${lotteryPerformed and recipientWithWishes == null}">
            Losowanie się odbyło, ale nie wziąłeś w nim udziału.
        </div>
    </div>

    <!--/*@thymesVar id="hasRecipient" type="java.lang.Boolean"*/-->
    <!--/*@thymesVar id="recipientWithWishes" type="io.github.hejcz.domain.lottery.DtoWishGiver"*/-->
    <table class="table mt-2" th:if="${hasRecipient}">
        <thead>
        <th style="width: 60%">Życzenia wylosowanej osoby</th>
        <th style="width: 40%">Moc</th>
        </thead>
        <tbody>
        <tr th:each="myWish : ${recipientWithWishes.recipientWishes()}">
            <td>
                <div th:text="${myWish.getText()}"></div>
                <div th:if="${myWish.hasUrl()}"><a th:href="${myWish.getUrl()}" th:target="blank">Link do przedmiotu</a>
                </div>
            </td>
            <td>
                <div th:class="rated-wish">
                    <img th:class="|power-tree|" th:each="i : ${#numbers.sequence(1, myWish.getPower())}"
                         th:src="@{image/tree-min.png}"/>
                    <span th:if="${myWish.getPower() &lt; 5}">
                        <img th:class="|power-tree opacity-tree|"
                             th:each="i : ${#numbers.sequence(myWish.getPower() + 1, 5)}" th:src="@{image/tree-min.png}"/>
                    </span>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <!--/*@thymesVar id="myWishes" type="java.util.Collection<lesziy.carol.web.ui.dashboard.WishesForm>"*/-->
    <form action="#" th:action="@{/dashboard/editWishes}" th:method="post" th:object="${myWishes}">
        <table class="table" id="my-wishes">
            <thead>
            <th style="width: 60%">Moja lista życzeń</th>
            <th style="width: 30%">Moc</th>
            <th style="width: 10%"></th>
            </thead>
            <tbody>
            <tr th:each="name, idx : *{wishes}">
                <td th:hidden="true">
                    <input th:field="*{wishes[__${idx.index}__].id}" type="text"/>
                </td>
                <td th:class="|wish-details|">
                    <input th:class="|form-control wish-text|" th:field="*{wishes[__${idx.index}__].text}"
                           th:placeholder="|Mam nadzieję, że pod choinką znajdę...|"
                           type="text"/>
                    <input th:class="|form-control wish-url|" th:field="*{wishes[__${idx.index}__].url}"
                           th:placeholder="'Adres URL'"
                           type="text"/>
                </td>
                <td>
                    <input th:class="form-control" th:field="*{wishes[__${idx.index}__].power}" th:hidden="true"
                           type="number"/>
                    <div th:class="rate-wish">
                        <img th:class="|power-tree opacity-tree|" th:src="@{image/tree-min.png}"/>
                    </div>
                </td>
                <td>
                    <div th:class="float-right">
                        <button class="btn btn-danger remove-wish" type="button">Usuń</button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div th:class="other-buttons">
            <button class="btn add-wish" type="button">Nowe życzenie</button>
            <button class="btn btn-primary">Zapisz</button>
        </div>
    </form>

</div>
<div th:replace="js"></div>
</body>
</html>
