<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="header"></div>
<body>
<div th:replace="nav"></div>
<div class="container">

    <div class="starter-template">
        <form class="form-signin" method="POST" th:action="@{/login}">
            <h2 class="form-signin-heading" th:text="#{label.login.form.title}"></h2>
            <label class="sr-only" for="inputLogin" th:text="#{label.login.userDto.username}"></label>
            <input autofocus="" class="form-control" id="inputLogin"
                   placeholder="Login" required="" th:name="'username'"/>
            <label class="sr-only" for="inputPassword" th:text="#{label.login.userDto.password}"></label>
            <input class="form-control" id="inputPassword" placeholder="Hasło"
                   required="" th:name="'password'" type="password"/>
            <button class="btn btn-lg btn-primary btn-block" th:text="#{label.login.form.submit}"
                    type="submit">Zaloguj się
            </button>
        </form>
        <a th:href="@{/login/password}">Nie pamiętam hasła</a>
    </div>

</div>
<div th:replace="js"></div>
</body>
</html>
