<!DOCTYPE HTML>
<html xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
    <button aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler navbar-toggler-right collapsed" data-target="#navbarsExampleDefault" data-toggle="collapse"
            type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <span class="navbar-brand">Meet your santa!</span>

    <div aria-expanded="false" class="navbar-collapse collapse" id="navbarsExampleDefault" style="">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active" sec:authorize="!isAuthenticated()">
                <a class="nav-link" th:href="@{/}">Home</a>
            </li>
            <li class="nav-item" sec:authorize="!isAuthenticated()">
                <a class="nav-link" th:href="@{/login}">Logowanie</a>
            </li>
            <li class="nav-item" sec:authorize="!isAuthenticated()">
                <a class="nav-link" th:href="@{/register}">Rejestracja</a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" th:href="@{/logout}">Wylogowanie</a>
            </li>
        </ul>
    </div>
</nav>

</html>
