<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="header"></div>
<body>
<div th:replace="nav"></div>
<div class="container">

    <div class="starter-template">
        <form th:action="@{/login/password}" method="POST" class="form-signin">
            <label for="inputEmail" class="sr-only" th:text="Email"></label>
            <input id="inputEmail" class="form-control" placeholder="Email"
                   th:name="'email'" required="" autofocus=""/>
            <button class="btn btn-lg btn-primary btn-block" type="submit"
                    th:text="'Resetuj hasło'">
            </button>
        </form>
    </div>

</div>
<div th:replace="js"></div>
</body>
</html>