<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="header"></div>
<body>
<div th:replace="nav"></div>
<div class="container">

    <div class="starter-template">
        <form th:action="@{/register}" method="POST" class="form-register">
            <h2 class="form-signin-heading" th:text="'Zarejestruj się'"></h2>
            <label for="inputPassword" class="sr-only" th:text="Hasło"></label>
            <input id="inputPassword" class="form-control" placeholder="Hasło"
                   required="" th:name="'password'" type="password"/>
            <label for="inputMatchingPassword" class="sr-only" th:text="Hasło"></label>
            <input id="inputMatchingPassword" class="form-control" placeholder="Powtórz hasło"
                   required="" th:name="'matchingPassword'" type="password"/>
            <label for="inputEmail" class="sr-only" th:text="Hasło"></label>
            <input id="inputEmail" class="form-control" placeholder="Email"
                   required="" th:name="'email'" type="email"/>
            <label for="inputName" class="sr-only" th:text="Imię"></label>
            <input id="inputName" class="form-control" placeholder="Imię"
                   th:name="'name'" required="" autofocus=""/>
            <label for="inputSurname" class="sr-only" th:text="Nazwisko"></label>
            <input id="inputSurname" class="form-control" placeholder="Nazwisko"
                   th:name="'surname'" required="" autofocus=""/>
            <button class="btn btn-lg btn-primary btn-block" type="submit"
                    th:text="#{label.login.form.submit}">Zarejestruj się
            </button>
        </form>
    </div>

</div>
<div th:replace="js"></div>
</body>
</html>