<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="header"></div>
<body>
<div th:replace="nav"></div>
<div class="container">

    <div class="starter-template">
        <form class="form-register" method="POST" th:action="@{/register}">
            <h2 class="form-signin-heading" th:text="'Zarejestruj się'"></h2>
            <label class="sr-only" for="inputPassword" th:text="Hasło"></label>
            <input class="form-control" id="inputPassword" placeholder="Hasło"
                   required="" th:name="'password'" type="password"/>
            <label class="sr-only" for="inputMatchingPassword" th:text="Hasło"></label>
            <input class="form-control" id="inputMatchingPassword" placeholder="Powtórz hasło"
                   required="" th:name="'matchingPassword'" type="password"/>
            <label class="sr-only" for="inputEmail" th:text="Hasło"></label>
            <input class="form-control" id="inputEmail" placeholder="Email"
                   required="" th:name="'email'" type="email"/>
            <label class="sr-only" for="inputName" th:text="Imię"></label>
            <input autofocus="" class="form-control" id="inputName"
                   placeholder="Imię" required="" th:name="'name'"/>
            <label class="sr-only" for="inputSurname" th:text="Nazwisko"></label>
            <input autofocus="" class="form-control" id="inputSurname"
                   placeholder="Nazwisko" required="" th:name="'surname'"/>
            <button class="btn btn-lg btn-primary btn-block" th:text="#{label.login.form.submit}"
                    type="submit">Zarejestruj się
            </button>
        </form>
    </div>

</div>
<div th:replace="js"></div>
</body>
</html>
